* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
*::before {
    box-sizing: border-box;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;

    display: flex;
    overflow: hidden;

    height: 100vh;

    flex-flow: column;
}

.img {
    /*background-image: url(http://music.163.com/api/img/blur/833429813897281);*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: scale(1.5);
    transform-origin: center top;

    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 100%;
}

.img::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: ' ';

    background-color: rgba(0, 0, 0, .5);
}

.disc-container {
    position: relative;
}

.disc-container .pointer {
    position: absolute;
    z-index: 1;
    left: 50%;

    width: 2.55rem;
    margin-left: -.4rem;

    transform-origin: left 0;
}

.disc-container .disc {
    position: relative;

    display: flex;

    margin-top: 1.87rem;

    justify-content: center;
    align-items: center;
}

.disc-container .ring {
    width: 7.93rem;
}

.disc-container .lightshadow {
    position: absolute;
    left: 50%;

    width: 7.93rem;
    /* top: 50%; */
    margin-left: -3.965rem;

    transform: translate(-50%, -50%);
    animation: circle 20s infinite linear;
}

.disc-container .cover {
    position: absolute;
    top: 14.75vw;
    left: 2.5rem;

    width: 5rem;

    animation: circle 20s infinite linear;
    animation-play-state: paused;

    border-radius: 50%;
}

.disc-container.playing .lightshadow,
.disc-container.playing .cover {
    animation-play-state: running;
}

.disc-container .icon-pause {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;

    transform: translate(-50%, -50%);
}

.disc-container .icon-play {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.disc-container.playing .icon-pause {
    display: block;
}

.disc-container.playing .icon-play {
    display: none;
}

.disc-container .icon-wrapper {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 1.6rem;
    height: 1.6rem;

    transform: translate(-50%, -50%);

    border: 1px solid white;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}

.disc-container .icon {
    width: .8rem;

    fill: white;
}

.song-description {
    line-height: 1.1;

    position: relative;

    margin-top: .666rem;

    text-align: center;

    color: #aeabac;

    flex-grow: 1;
}

.song-description h2 {
    font-size: .42rem;
    font-weight: 400;

    color: white;
}

.song-description p {
    font-size: .36rem;
    line-height: .64rem;
}

.song-description p.active {
    color: white;
}

.song-description .lyric {
    overflow: hidden;

    height: 2rem;
    margin-top: .375rem;
}

.wrapper>.links {
    z-index: 10;

    display: flex;

    margin-right: auto;
    margin-left: auto;

    flex: 0 0 2.05rem;
    justify-content: center;
    align-items: center;
}

.wrapper>.links>a {
    font-size: .4rem;
    line-height: .94rem;

    width: 4.5rem;
    height: .94rem;
    margin-bottom: .7rem;
    padding: .0016rem;

    text-align: center;
    text-decoration: none;

    color: inherit;
    border: 1.4px solid #d43b32;
    border-radius: .106rem;
    background: transparent;
}

.wrapper>.links>a.download {
    margin-left: .32rem;

    color: white;
    background: #d43b32;
}

.wrapper>.links {
    display: flex;

    color: #d43b32;

    justify-content: space-around;
    align-items: center;
}